@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
section{
    background: url('https://wallpaperaccess.com/full/2404271.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
}
body{
    font-family: 'poppins', 'sans-serif';
   
}  
.today{
    margin-top: 20px;
    justify-content: space-between;
}
.other{
    border: 2px solid #eee;
    background-color: #3c40447d;
    border-radius: 100px;
    padding: 50px;
    height: fit-content;
    width: 250px;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
    color: #eee;
}
/* .today img{
margin-left: 40px;
} */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* .today .day{
    margin-left: 35px;
} */
.back-video{
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}
@media (min-aspect-ratio : 16/9) {
    .back-video{
        width: 100vw;
        height: auto;
        
    }
    
}

@media (max-aspect-ratio : 16/9) {
    .back-video{
        width: auto;
        height: 100vh;
    }
    
}

.container{
    padding: 20px 70px;
    color: #fff;
    /* margin-top: 300px; */
}

.information{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight: 100;
}

.time{
    font-size: 70px;
    font-weight: 100; 
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date{
    font-size: 40px;
    color: white;
    font-weight: 200;

}

.place-container{
    text-align: right;
    margin-right: 10px;
}

.place-container .time-zone{
    font-size: 50px;
    font-weight: 100;
    color: white;
}

.place-container .country{
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27,0.6);
    padding: 17px;
    border-radius: 15px;
    margin: 15px 0px;
    border: 1.5px solid #eee;
    font-size: 20px;
    color: white;
}

.others .properties{
    display: flex;
    justify-content: space-between;
  
}
.parallel{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.parallel{
    margin-bottom: 10px;
}
.center{
    text-align: center;
    width: auto;
    
}

.forecast{
    /* background: rgba(24,24,27, 0.8); */
    padding: 20px;
    
    bottom: 0px;
    color: #eee;
    width: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.time{
    color: #eee;
    text-align: center;
}
#current-temp{
    display: flex;
}


/* .forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);

} */

.forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44 ;
    border-radius: 60px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 50px;
    border-color: #eee;
}

input{
    /* display: inline-block; */
    padding: 10px;
    width: 25%;
    border-radius: 7px;
    border: 2px solid #3c3c44;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.404);
    margin-left: 10px;
    font-weight: 300;
    color: #eee;
    
}
input::placeholder{
    opacity: 1;
}
input:focus{
    outline: none;
}


#te{
    font-size: 40px;
}
.forecast .today .temp{
    font-size: 20px;
    padding-top: 15px;
    

}

.forecast .weather-forecast{
    display: flex;
    flex-direction: column;
    
   

}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 3px solid #eee;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    border-radius: 50px;
    width: 150px;
    background: rgba(18, 14, 14, 0.367);

}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 400;
    font-size: 12px;
    width: auto;
}

@media only screen and (max-width:1060px){
    .first{
       
        text-align: center;
    }
    input{
        margin: auto;
    }




    .other{
        border: 2px solid #eee;
        background-color: #3c40447d;
        border-radius: 10px;
        padding: 10px;
        height: fit-content;
        width: fit-content;
        margin-top: 20px;
        margin:auto;
        text-align: center;
        color: #eee;
    }

    .parallel{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 20px;
        overflow-y: hidden;
    }
   
    #current-temp{
        display: flex;
        flex-direction: column;
    }
    section{
        background: url('https://wallpaperaccess.com/full/2404271.jpg');
        min-height: 180vh;
      
    }
    .weather-forecast .weather-forecast-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        border: 3px solid #eee;
        border-radius: 10px;
        padding: 15px;
        width: fit-content;
        border-radius: 50px;
        width: 150px;
        background: rgba(18, 14, 14, 0.367) ;
    }

    .others{
        margin: auto;
        width: 200px;
        margin-top: 20px;
    }
    .fff{
        margin: auto;
    }

    .forecast{
    
        margin-top: 30px;
    }
    section{
        max-height: fit-content;
    }
    section{
        background: url('https://mobimg.b-cdn.net/v3/fetch/72/72a1129d4a31adffb6009fc53df6c254.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    .others .properties{
       font-size: 10px;       
       justify-content: space-between;
      
    }
    
    .container{
        padding: 20px;
    }
    .forecast{
        justify-content: start;
        align-items: none;
    }
    
    .forecast .today .temp{
        font-size: 23px;
    }

    .time{
        font-size:30px ;
        text-align: center;
        margin-top: 10px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date{
        font-size: 20px;
        text-align: center;
    }

    /* .place-container{
        text-align: center;
        margin-top: -200px;
    } */
    .place-container{
        text-align: center;
        margin-top: 10px;
    }
    .place-container .time-zone{
        font-size: 40px;
    }

    .information .others{
        padding: 12px;
    }

    .information .others .weather-item{
        font-size: 14px;
    }
    .forecast .weather-forecast-item{
        width: 200px;
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width:466px){
    .parallel{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }
    /* #asa{
        display: none;
    } */
}